/* 	Font Size 
	========================================================================== */ 
	 
	@mixin font-size($sizeValue: 1.6) {
	  font-size: ($sizeValue) + px;
	  font-size: $sizeValue / 10 + rem;
	}

/* 	Font Face 
	========================================================================== */ 

	@mixin font-face($font-family, $file-path, $font-weight, $font-style)  {
		@font-face {
			font-family: $font-family;
		    src: url('#{$file-path}.eot');
		    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
				 url('#{$file-path}.woff') format('woff'),
				 url('#{$file-path}.ttf') format('truetype'),
				 url('#{$file-path}.svg##{$font-family}') format('svg');
		    font-weight: $font-weight;
		    font-style: $font-style;
		}
	}

