/*  ==========================================================================
    ==========================================================================

    Variables
    1. Typography
    2. Colours
    3. Breakpoints
    4. Easing

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */

/*  ========================================================================== 
	1. Typography
    ========================================================================== */
	
/*  Fallback Stack
	========================================================================== */

	$fallback-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/*  Base Font Sizes
	========================================================================== */

	$base-font-size: 62.5%; // Sets up the Base 10 stuff 
	$h1-font-size: 37;
	$h2-font-size: 23;
	$h3-font-size: 18;
	$h4-font-size: 16;
	$h5-font-size: 16;
	$h6-font-size: 14;
	$body-font-size: 14;

/* 	Default Font Sizes 
	========================================================================== */ 
	 
	$font-size-10: 10;
	$font-size-12: 12;
	$font-size-14: 14; 
	$font-size-16: 16;
	$font-size-18: 18;
	$font-size-20: 20;
	$font-size-21: 21;
	$font-size-24: 24;
	$font-size-30: 30;
	$font-size-36: 36;
	$font-size-40: 40;
	$font-size-48: 48;
	$font-size-72: 72;

/*  Line Heights
	========================================================================== */

	$base-line-height: 1.5; 
	$header-line-height: 1.25;

/*  Other Sizes
	========================================================================== */
	
	$base-border-radius: 3px;
	$base-spacing: $base-line-height * 1rem;
	$base-z-index: 0;

/*  ==========================================================================
	2. Colours 
	========================================================================== */

/*  Brand Colours 
	========================================================================== */

	$color-brand-1: #da1c23;
	$color-brand-2: #00a77e;

/*  Dark Colours
	========================================================================== */

	$color-dark-ui-1: #151a1d;
	$color-dark-ui-2: #242b2f;
	$color-dark-ui-3: #353c40;

/*  Light Colours
	========================================================================== */

	$color-light-ui-1: #d3d3d3;
	$color-light-ui-2: #e8e8e8;

/*  Text Colours
	========================================================================== */

	$color-text-1: #353c40;
	$color-text-2: #707578;
	$color-text-3: #c1c0c0;

/*  Background Colours
	========================================================================== */
	
	$base-background-color: #ffffff;;

/*  Font Colours
	========================================================================== */

	$base-font-color: $color-text-1;
	$base-accent-color: $color-brand-1;

/*  Anchor Colours
	========================================================================== */

	$base-link-color: $color-brand-1;
	$hover-link-color: darken($color-brand-1, 15);
	$base-button-color: $color-brand-1;
	$hover-button-color: $hover-link-color;

/*  Border Colours
	========================================================================== */

	$base-border-color: $color-light-ui-2;
	$base-border: 1px solid $base-border-color;

/*  Form Colours
	========================================================================== */

	$form-border-color: $base-border-color;
	$form-border-color-hover: darken($base-border-color, 10);
	$form-border-color-focus: $base-accent-color;
	$form-border-radius: $base-border-radius;
	$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
	$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);

/*  Misc Colours
	========================================================================== */

	$selection: $color-brand-1; // cursor selection colour
	
/*  ==========================================================================
	3. Breakpoints 
	========================================================================== */

/*  Core
	========================================================================== */
 
	$break-1200: max-width 1200px;
	$break-1024: max-width 1024px;
	$break-768: max-width 768px;
	$break-700: max-width 700px;
	$break-600: max-width 600px;
	$break-568: max-width 568px;
	$break-480: max-width 480px;
	$break-375: max-width 375px;
	$break-320: max-width 320px;

/*  Content Aware
	========================================================================== */


/*  ==========================================================================
	4. Easing
	========================================================================== */

	$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
	$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
	$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);





